db.host=localhost
db.port=3309
db.database=zyme02
db.serverTimezone=Europe/Kiev
db.connectTimeout=10000
db.maxReconnects=3
db.user=root
db.pass=root
db.max_trans_id=1
env.not_prod=true

db.driver.cp=/Users/user/.m2/repository/mysql/mysql-connector-java/8.0.28/mysql-connector-java-8.0.28.jar

