:host([theme~="inline-upload"]) [part='meta'] {
    width: auto;
    flex: auto;
    display: flex;
    align-items: center;
}

[part='meta'] {
    width: auto;
    flex: auto;
    display: flex;
    align-items: center;
}
[part='row'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}